<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="utilities.Listeners"></listener></listeners>
  <test name="Test">
    <classes>
      <class name="tests.TestInteractWithImages"/>
      <class name="tests.TestAlerts"/>
      <class name="tests.TestSortable"/>
      <class name="tests.TestDroppable"/>
      <class name="tests.TestSelectable"/>
      <class name="tests.TestElementToDisappear"/>
      <class name="tests.TestPlayWithHyperlinks"/>
      <class name="tests.TestEditButton"/>
      <class name="tests.TestBondWithButtons"/>
      <class name="tests.TestFrames"/>
      <class name="tests.TestRadioButtons"/>
      <class name="tests.TestDraggable"/>
      <class name="tests.TestDropdown"/>
      <class name="tests.TestCheckBoxes"/>
      <class name="tests.TestElementAppear"/>
      <class name="tests.TestWindows"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->